<h1><%=@blogger.name%></h1>
<h1><%=@blogger.age%></h1>
<h1><%=@blogger.bio%></h1>

<h3>Total Likes: <%=@blogger.total_likes%></h3>

<% @blogger.posts.each do |post|%>
    <p><%= link_to post.title, post %></p>
<% end %>

